{%extends 'adminPanel/dash.html'%}
      {%block mainblock%} 
    <div class="col s12 m12 l9">
<main>
  <section>
    <div class="section">
      <fieldset>
        <legend><h5>USERS LIST</h5></legend>
        <br>
   <ul class="collection">
     {% for user in users %}
    <li class="collection-item avatar">
      <img src="/images/download.png" alt="" class="circle">
      <span class="title">{{user.Name}}</span>
      <p>{{user.Category}}<br>
        {{user.Email}}<br>
        {{user.Mobile}}<br>
      </p>
      <a  href="/adminPanel/userDeatils/?id={{user.UID}}" class="btn-floating btn-large red pulse secondary-content modal-trigger"><i class="material-icons">more</i></a>
  <!--    <a href="#modal1{{user.UID}}" class="btn-floating btn-large red pulse secondary-content modal-trigger"><i class="material-icons">delete</i></a>
     
    </li>
  -->
     <!-- Modal Structure -->

  <div id="modal1{{user.UID}}" class="modal">
 
    <div class="modal-content">
        <p style="color:red">If you click on "agree" buttton,you will loss all the data regrading this user!
      </p>
         <fieldset><legend></legend>
      <p>{{user.Name}}</p>
      <p>{{user.Email}}</p>
      <p>{{user.Mobile}}</p>
      <p>{{user.Category}}</p>
      <p>{{user.Address}}</p>
    </fieldset>
    </div>
    <div class="modal-footer">
      <a  href="/adminPanel/deleteUser/?id={{user.UID}}" class="waves-effect waves-light red btn" >Agree</a>
      <a href="#!" class="modal-close btn waves-effect waves-green" >DisAgree</a>
    </div>
   
  </div>
     {% endfor %}
   </ul>
     
  </fieldset>
    </div>
  </section>
<main>
</div>
<script type="text/javascript">
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });

</script>

          {%endblock%}