{%extends 'web/home.html'%}
 {%block mainblock%}
 <style type="text/css">
 
  body{
    background:#212121;
  }
  input,textarea{
    color: #00bebe;
  }
</style>
<div class="container">
	<fieldset style="color: #00bebe;" ><legend><h2>ABOUT US</h2></legend>
    <div class="col s12">
    		
      <div class="card-panel " style="background-color: #212121">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    <p>
    	<p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    <p>
    	<p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    <p>
      </div>
    </div>
</div>
</fieldset>
  </div>
   {%endblock%}