{%extends 'web/home.html'%}
 {%block mainblock%}
 <style type="text/css">
 
  body{
    background:#212121;
  }
  input,textarea{
    color: #00bebe;
  }
</style>
<div class="container">
	<fieldset style="color: #00bebe;" ><legend><h2>ABOUT US</h2></legend>
    <div class="col s12">
    		
      <div class="card-panel " style="background-color: #212121">
        <p>Online Complaint Management System  provides solution for users to get in touch with government employees and complete work and raise complaints with their issues through web portal.
  In India we don’t have any direct communication between the government and public in an efficient way for solving the problems i.e. for getting a problem solved in our place we have to bribe the officials and get them solved in 2 months which can be solved actually in 1 month of time.
<br>
In order to overcome this problem previously National Informatics Centre has launched a site named Prajavani through which public can post the petitions or complaints in the  site and get them solved in a specified time and can also know the status of the complaint or petition he has lodged at any time.
<br>
NIC has launched this site with the goal of Right TO Information Act (RTI Act) i.e. providing the complete information of a place to the user at any time. But it failed in providing the complete information to the public and is providing only the complaint lodging facility to the public.
<br>
In order to make the goal of NIC come true we are going to develop a system which will be able to provide the complete information to the public at any point of time regarding the problems they are facing currently and what is the impact of it and then how effectively the funds are utilized for the development purpose can be known by public which also includes the online discussion forums and feedback forms which will help them to communicate well with the government.
   </p>
      </div>
    </div>
</div>
</fieldset>
  </div>
   {%endblock%}