{%extends 'web/home.html'%}
 {%block mainblock%}
 <body>
  <style>
  body{
    background-color: black;
  }
</style>

<div class="row">
     <fieldset style="color: #00bebe;margin-right: 200px; margin-left: 200px;" ><legend><h2>Blog 1</h2></legend>
    <div class="col s12 m6">
      <div class="card black">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>
            <font color="lightblue">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
        </font></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        
        </div>
      </div>
    </div>
  </div>




 <div class="row">
     <fieldset style="color: #00bebe;margin-right: 200px; margin-left: 200px;" ><legend><h2>Blog 2</h2></legend>
    <div class="col s12 m6">
      <div class="card black">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>
            <font color="lightblue">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
        </font></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        
        </div>
      </div>
    </div>
  </div>



 <div class="row">
     <fieldset style="color: #00bebe;margin-right: 200px; margin-left: 200px;" ><legend><h2>Blog 3</h2></legend>
    <div class="col s12 m6">
      <div class="card black">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>
            <font color="lightblue">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
        </font></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        
        </div>
      </div>
    </div>
  </div>

</body>
   {%endblock%}