 <!DOCTYPE html>
  <html>
  {%block stylesheets%} 
    <head>
      <style type="text/css">
        
      </style>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
 <!--     <link rel="shortcut icon" href="/images/icon.ico" /> -->
        <title>{{title}}</title>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    {%endblock%}
   
      {%block h%}
 <nav  style="background-color: #616161;margin-bottom: 10px;">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/">BLOGS</a></li>
        <li><a href="/contact">CONTACT US</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/register">REGISTER</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/">BLOGS</a></li>
        <li><a href="/contact">CONTACT US</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/register">REGISTER</a></li>
  </ul>

  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
  </script>
  {%endblock%}
 {%block mainblock%}
  <div class="slider fullscreen ">
    <ul class="slides">
      <li>
        <img src="/images/1.JPG"> <!-- random image -->
        <div class="caption center-align">
         
        </div>
      </li>
      <li>
         <img src="/images/2.JPG">  <!-- random image -->
        <div  class="caption left-align">
           <h3 style="color: black"><strong>COMPLAINT BOX</strong></h3>
          <h5 style="color: black" class="light  text-lighten-3"><strong>We are here to solve every problem.</strong></h5>        </div>
      </li>
      <li>
        <img src="/images/3.JPG">  <!-- random image -->
        <div class="caption right-align">
            <h3 style="color: black"><strong>COMPLAINT BOX</strong></h3>
          <h5 style="color: black" class="light  text-lighten-3"><strong>We are here to solve every problem.</strong></h5>
        </div>
      </li>
      <li>
        <img src="/images/4.JPG">  <!-- random image -->
        <div class="caption center-align">
            <h3 style="color: black"><strong>COMPLAINT BOX</strong></h3>
          <h5 style="color: black" class="light  text-lighten-3"><strong>We are here to solve every problem.</strong></h5>
        </div>
      </li>
    </ul>
  </div>
      

 
   {%endblock%}
 
{%block f%}

<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal accent-4 pulse">
    <i class="large material-icons ">menu</i>
  </a>
  <ul>
   
    <li><a href="/about" class="btn-floating  teal accent-4 pulse tooltipped" data-position="left" data-tooltip="ABOUT "><i class="material-icons">gps_not_fixed</i></a></li>
    <li><a href="/contact" class="btn-floating teal accent-4 pulse tooltipped" data-position="left" data-tooltip="CONTACT"><i class="material-icons">insert_comment
</i></a></li>
    <li><a href="/login" class="btn-floating teal accent-4 pulse tooltipped" data-position="left" data-tooltip="LOGIN"><i class="material-icons">lock_open</i></a></li>
     <li><a href="/register" class="btn-floating  teal accent-4 pulse tooltipped" data-position="left" data-tooltip="REGISTER"><i class="material-icons">person_add</i></a></li>
  </ul>
</div>
 <footer style="background-color: #424242 ;margin-top: 30px;" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">A Complaint Portal</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">blogs</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright complaint box
            
            </div>
          </div>
        </footer>
           

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/js/materialize.min.js"></script>
       <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems);
  });

          document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });
      </script>
       {%endblock%} 
  </html>