
<html>
  <head>
      {%block stylesheets%} 
    
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.css" />
    <script src="/js/materialize.js"></script>
     <script type="text/javascript" src="/js/materialize.min.js"></script>
    <style>
       .body{

       }
      .name, .email{
        color: black !important;
        font-size: 20px !important;
      }
      
    </style>
  </head>
        {%endblock%}
  <body >
    <!-- Navbar goes here -->

    <!-- Page Layout here -->
    <div class="row">
    {%block sideBar%}  
      <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
        <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><div class="user-view">
      <div class="background">
        <img src="/images/bg.jpg">
      </div>
      <a href="#user"><img class="circle" src="/images/download.png"></a>
      <a href="#name" ><span class="white-text name" >{{uName}}</span></a>
      <a href="#email"><span class="white-text email" >{{uEmail}}</span></a>
    </div></li>
       <li  id="dashMain"><a href="/userPanel">Dashboard</a></li>
      <li  id="dash"><a href="/userPanel/newComplaint">New Complaint</a></li>
       <li id="generate"><a href="/userPanel/viewComplaint">View Complaint</a></li>
        <li  id="dashMain"><a href="/userPanel/profile">Profile</a></li>
       <li id="updateLogo"><a href="logout.php">Logout</a></li>
     
    </ul>

      </div>
{%endblock%}

      <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
      
          {%block mainblock%} 
            <fieldset>
    <legend> <h1>Dashboard</h1></legend>
      <div class="row">
      <div class="col s12"></div>
      <div class="col s6">
       <div class="row">
    
      <div class="card-panel " style="background-color: #757575   ">
        <h3 style="color: white">Active Complaints: 0</h3>
        <span class="white-text">
        </span>

    </div>
  </div></div>
      <div class="col s6">
       <div class="row">

      <div class="card-panel " style="background-color: #757575   ">
        <h3 style="color: white">Total Complaints : 0</h3>
        <span class="white-text">
        </span>
     
    </div>
  </div></div>
</div>
 <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>How To submit a complaint?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet. We hope you have enjoyed using Materialize and if you feel like it has helped you out and want to support the team you can help us by donating or backing us on Patreon. Any amount would help support and continue development on this project and is greatly appreciated.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>what if complaint not resolve?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet. We hope you have enjoyed using Materialize and if you feel like it has helped you out and want to support the team you can help us by donating or backing us on Patreon. Any amount would help support and continue development on this project and is greatly appreciated.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>after submission, can i edit my complaint?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.We hope you have enjoyed using Materialize and if you feel like it has helped you out and want to support the team you can help us by donating or backing us on Patreon. Any amount would help support and continue development on this project and is greatly appreciated.</span></div>
    </li>
  </ul>
</div>
</div>
        <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

        

        </script>
      </fieldset>
          {%endblock%}

      </div>

    </div>



  </body>

</html>
