{%extends 'userPanel/dash.html'%}
   
   

      {%block mainblock%} 

    <div class="col s12 m12 l9">
<main>
  <section>
    <div   class="section">
      <fieldset>
        <legend><h5>Dashboard</h5></legend>
        <br>
  

    <div class="col s12 m6">
      <div class="card-panel teal">
        <span class="white-text"><h4>Total Complaint [ {{totalCount}} ]</h4>
        </span>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel teal">
        <span class="white-text"><h4>Active Complaint [ {{activeCount}} ] </h4>
        </span>
      </div>
  </div>
  </fieldset>
   <div class="divider" style="height: 30px;margin-top: 10px;margin-bottom: 20px;"></div>
   <fieldset>
        <legend><h5>Your Dratils</h5></legend>
        <br>

 <ul class="collection">
   {% for user in users %}
    <li class="collection-item avatar">
      <img src="/images/download.png" alt="" class="circle">
      <span class="title">{{user.Name}}</span>
      <p>{{user.Category}}<br>
        {{user.Email}}<br>
        +91-{{user.Mobile}}<br>
        {{user.Address}}<br>

      </p>
      <br>
      <a href="#modal1" class="waves-effect waves-light btn modal-trigger secondary-content">Change Passowrd</a>
    </li>
   {% endfor %}
  </ul>
   
      </fieldset>
    </div>
  </section>
<main>
</div>

  <!-- Modal Trigger -->


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
  
    <form action="/utils/request.php" method="POST">
    <div class="modal-content">
    <form class="col s12">
      <div class="row">
          <fieldset><legend><strong>Change your Password</strong></legend>
        <div class="input-field col s6">
          <i class="material-icons prefix">key</i>
          <input  type="password" id="txtPassword" name="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">key</i>
          <input  type="password" id="txtConfirmPassword" class="validate">
          <label for="txtConfirmPassword">Confirm Password</label>
        </div>
        <br>
        <br>
        <div class="modal-footer">
      <button class="btn waves-effect waves-light" onclick="return Validate()" type="submit" name="changePassword">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
   </fieldset>
      </div>
    </form>
   
  </div>

    
    </div>

  </div>

  <script type="text/javascript">
     function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
          {%endblock%}