{%extends 'userPanel/dash.html'%}
   
   

      {%block mainblock%} 
<fieldset>
    <legend> <h1>All Complaints submit by you</h1></legend>

<table class="responsive-table">
        <thead>
          <tr>
            <th>complaint id</th>
              <th>Date</th>
              <th>Status</th>
              <th>update</th>
              <th>delete</th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td>$0.87</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
             <td>$0.87</td>
          </tr>
          <tr>
              <td>$0.87</td>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
             <td>$0.87</td>
          </tr>
          <tr>
              <td>$0.87</td>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
             <td>$0.87</td>
          </tr>
        </tbody>
      </table>
</fieldset>
       {%endblock%}