{%extends 'userPanel/dash.html'%}
   
      {%block mainblock%} 
<fieldset>
    <legend> <h1>All Complaints submit by you</h1></legend>

<table class="responsive-table">
        <thead>
          <tr>
            <th>complaint id</th>
              <th>Date</th>
              <th>Status</th>
              <th>Details</th>
              <th>update</th>
              <th>delete</th>
          </tr>
        </thead>

        <tbody>
          {% for complaint in complaints %}
          <tr>
            <td>{{complaint.CID}}</td>
            <td>{{complaint.cDate}}</td>
            <td>{{complaint.status|e}}</td>
            <td>,<a href="/userPanel/complaintDetails/?id={{complaint.CID|e}}"> <i class="Small

 material-icons">details</i></a></td>
             <td>,<a href="?{{complaint.CID|e}}"> <i class="Small

 material-icons">update</i></a></td>
               <td>,<a href="?{{complaint.CID|e}}"> <i class="Small

 material-icons">delete_forever</i></a></td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
</fieldset>
       {%endblock%}