{%extends 'userPanel/dash.html'%}
   
   

      {%block mainblock%} 
    <div class="col s12 m12 l9">
<main>
  <section>
    <div class="section">
      <fieldset>
        <legend><h5>Dashboard:</h5></legend>
        <br>
  <table class="responsive-table">
        <thead>
          <tr>
            <th>complaint id</th>
              <th>Date</th>
              <th>Status</th>
              <th>Details</th>
              <th>update</th>
              <th>delete</th>
          </tr>
        </thead>

        <tbody>
          {% for complaint in complaints %}
          <tr>
            <td>{{complaint.CID}}</td>
            <td>{{complaint.cDate}}</td>
            <td>{{complaint.status|e}}</td>
            <td>,<a href="/userPanel/complaintDetails/?id={{complaint.CID|e}}"> <i class="Small
 material-icons">description</i></a></td>
             <td>,<a onclick="return getUpdateConfirmation();" href="/userPanel/updateComplaint/?id={{complaint.CID|e}}"> <i class="Small
 material-icons">update</i></a></td>
               <td>,<a onclick="return getConfirmation();" href="/userPanel/deleteComplaint/?id={{complaint.CID|e}}" > <i class="Small
 material-icons">delete_forever</i></a></td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
   
     
  </fieldset>
    </div>
  </section>
<main>
</div>


          {%endblock%}

